html {
  font-size: 15px;
}

body {
  margin: 0 auto;
  width: 75%;
}

p {
  font-size: 1rem;
  line-height: 2;
}

body pre[class*="language-"] {
  font-size: 1rem;
}

.spec-container img {
  width: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

.sparql-query-selection {
  display: flex;
  align-items: center;
}

.sparql-query-selection p {
  margin: 0;
  margin-right: 2rem;
}

.sparql-query-selection .dropdown {
  flex-grow: 2;
}

#sparql-query-textarea .controlbar {
  display: none;
}

footer {
  padding: 50px;
  font-size: 0.8rem;
  text-align: center;
}

/******************************
 * Resource page
******************************/
ul.rdf-formats {
  list-style-type: none;
  padding: 0;
  display: flex;
}

ul.rdf-formats li {
  padding: 0 1rem;
  border-right: solid 1px gray;
}

ul.rdf-formats li:first-child {
  padding-left: 0;
}

ul.rdf-formats li:last-child {
  border-right: none;
}

/* Semantic UI customisations */
.ui.secondary.pointing.menu .active.item {
  border-width: 0;
}

.ui.secondary.menu .dropdown.item > .menu {
  margin-top: 0;
}

@media (min-width: 1200px) {
  body {
    width: 900px;
  }
}

