table#jslicense-labels1
    tr
      td
        a(href="/javascripts/semantic.min.js") semantic.min.js
      td
        a(href="http://www.jclark.com/xml/copying.txt") Expat
    tr
      td
        a(href="/javascripts/components/prism-turtle.min.js") prism-turtle.min.js
      td
        a(href="http://www.jclark.com/xml/copying.txt") Expat
    tr
      td
        a(href="/javascripts/prism-core.min.js") prism-core.min.js
      td
        a(href="http://www.jclark.com/xml/copying.txt") Expat
    tr
      td
        a(href="/javascripts/prism-autoloader.min.js") prism-autoloader.min.js
      td
        a(href="http://www.jclark.com/xml/copying.txt") Expat
    tr
      td
        a(href="/javascripts/yasgui.min.js") yasgui.min.js
      td
        a(href="http://www.jclark.com/xml/copying.txt") Expat
    tr
      td
        a(href="/javascripts/jquery.min.js") jquery-3.1.1.min.js
      td
        a(href="http://www.jclark.com/xml/copying.txt") Expat
    tr
      td
        a(href="/javascripts/sparql.js") sparql.js
      td
        a(href="http://www.gnu.org/licenses/agpl-3.0.html") GNU-AGPL-3.0-or-later
