extends layout

include header

block content
  +header('wiki')

  h1 Wiki

  h2 Introduction

  p L'objectif de l'ontologie #[strong cmtqo] (Cinematheque ontology) est d'exprimer formellement les relations entre les informations sur les films. L'ontologie se base fortement selon les données cataloguées par la Cinémathèque québécoise.

  p Ce wiki décrit en détail les classes et propriétés de l'ontologie, et comment l'ontologie peut être utilisée pour représenter des données sur des films.

  p L'ontologie est décrite avec le langage OWL 2 DL et les exemples de cas d'utilisation des données utiliseront le format Turtle/RDF.

  h2 Déréférencement des URIs

  p
    | Toutes les classes et propriétés de l'ontologie sont représentées par une URI. Par exemple, l'URI
    |
    a(href="http://data.cinematheque.qc.ca/ontology/cmtqo#Public_Work_Release") http://data.cinematheque.qc.ca/ontology/cmtqo#Public_Work_Release
    |  fait référence au concept d'événement de sortie d'une oeuvre.

  p
    | Un des objectif est d'intégrer l'ontologie #[strong cmtqo] dans le
    |
    a(href="https://fr.wikipedia.org/wiki/Web_des_donn%C3%A9es") Web de données
    | . Pour se faire, une des conditions est que toutes les URIs utilisées pour décrire les classes et propriétés de l'ontologie doivent être déréférençables. Pour simplifier, l'utilisateur devra être redirigé vers une représentation du concept en cliquant sur l'URI.

  h2 Ontologies de base

  p Plusieurs ontologies sont utilisées pour la création de l'ontologie #[strong cmtqo]. Voici l'espace de nommage des ontologies avec leur préfixe qui seront utilisées dans les examples ci-bas:

  pre
    code.language-turtle.
      @prefix xml: &lt;http://www.w3.org/XML/1998/namespace&gt; .
      @prefix xsd: &lt;http://www.w3.org/2001/XMLSchema#&gt; .
      @prefix rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt; .
      @prefix rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt; .
      @prefix owl: &lt;http://www.w3.org/2002/07/owl#&gt; .
      @prefix foaf: &lt;http://xmlns.com/foaf/0.1/&gt; .
      @prefix dbo: &lt;http://dbpedia.org/ontology/&gt; .
      @prefix wd: &lt;http://www.wikidata.org/entity/&gt; .
      @prefix wdt: &lt;http://www.wikidata.org/prop/direct/&gt; .
      @prefix crm: &lt;http://www.cidoc-crm.org/cidoc-crm/&gt; .
      @prefix frbroo: &lt;http://iflastandards.info/ns/fr/frbr/frbroo/&gt; .
      @prefix cmtqo: &lt;http://data.cinematheque.qc.ca/ontology/cmtqo#&gt; .
      ...

  p
    | Nous abbrégerons l'écriture des URIs en utilisant un préfixe. Par exemple, l'URI
    |
    a(href="http://data.cinematheque.qc.ca/ontology/cmtqo#Public_Work_Release") http://data.cinematheque.qc.ca/ontology/cmtqo#Public_Work_Release
    |
    | peut être tout simplement remplacée par
    |
    a(href="http://data.cinematheque.qc.ca/ontology/cmtqo#Public_Work_Release") cmtqo:Public_Work_Release
    |
    | en utilisant l'espace de nommage.

  h3 FRBRoo/CIDOC CRM

  p Pour comprendre l'ontologie #[strong cmtqo], il faut comprendre les quatres niveaux de l'ontologie #[a(href="www.cidoc-crm.org/frbroo") FRBRoo]: Oeuvre (Work), Expression, Manifestation et Item. FRBRoo est une ontologie orientée-événement basé sur #[a(href="http://www.cidoc-crm.org") CIDOC CRM].

  h2 Cinematheque Ontology

  p L'ontologie #[strong cmtqo] est en cours de construction. Pour le moment, elle se concentre sur le concept d'oeuvre avec les événements qui sont associés avec elle.

  p
    | Dans les exemples ci-bas, nous utilisons le préfixe #[em cmtq] pour faire référence à l'URI
    |
    a(href="http://data.cinematheque.qc.ca/resource/") http://data.cinematheque.qc.ca/resource/
    | .

  h3 Décrire une oeuvre audiovisuelle

  p L'oeuvre audiovisuelle est le centre de l'ontologie #[strong cmtqo]. Voici un exemple de metadonnées pour décrire une oeuvre audiovisuelle.

  pre
    code.language-turtle.
      # Description de l'oeuvre audiovisuelle avec l'identifiant 85461
      cmtq:RecordingWork85461
        rdf:type frbroo:F21_Recording_Work ;
        cmtqo:cmtq_id "85461" ;
        rdfs:label "DE PÈRE EN FLIC" ;
        wdt:P407 cmtq:Language38 ;
        cmtqo:synopsis "Jacques Laroche, légende au sein des forces de police de la ville de Montréal, est à couteaux tirés avec son fils Marc, également policier. De fait, ce dernier éprouve un vif ressentiment vis-à-vis ce flic entêté et vieille école, qui lui fait sans cesse des reproches. Quand une opération délicate tourne mal et qu'un collègue est kidnappé par le gang de motards criminalisés que les Laroche cherchent à coffrer, le niveau d'acrimonie entre les deux hommes atteint son sommet. Contraints d'infiltrer un groupe de thérapie père-fils auquel participe l'avocat du chef des motards, Jacques et Marc finissent par se laisser prendre au jeu._x000D_\n  -Mediafilm" ;
        cmtqo:cost "5000000" ;
        cmtqo:has_subject cmtq:Subject2945, cmtq:Subject4434, cmtq:Subject9065 ;
        owl:sameAs wd:Q618208 .

  p Plusieurs propriétés sont utilisées pour décrire l'oeuvre #[em cmtq:RecordingWork85461] intitulé #[em De père en flic]. Tout d'abord, nous avons de simples informations comme son type, son titre, son identifiant, son résumé et son budget. En utilisant la propriété #[em owl:sameAs], l'oeuvre peut être lié à son concept équivalent sur Wikidata. De plus, nous réutilisons la propriété Wikidata #[em wdt:P407] (langue associée à l'œuvre) pour définir la langue de l'oeuvre. La langue de l'oeuvre 85461, #[em cmtq:Language38] est définit comme suit:

  pre
    code.language-turtle.
      cmtq:Language38
        rdf:type cmtqo:Language ;
        rdfs:label "français" ;
        owl:sameAs wd:Q150 .

  p Une oeuvre audiovisuelle peut être associée à un ou plusieurs genres cinémathographiques. Voici la définitions des genres cinématographiques utilisés ci-haut:

  pre
    code.language-turtle.
      cmtq:Subject2945
        rdf:type cmtqo:Subject ;
        rdfs:label "COMÉDIES" .

      cmtq:Subject4434
        rdf:type cmtqo:Subject ;
        rdfs:label "FILMS DE FICTION" .

      cmtq:Subject9065
        rdf:type cmtqo:Subject ;
        rdfs:label "FILMS POLICIERS" .

  h3 Décrire la source originale d'une oeuvre

  p Supposons qu'on veut décrire la source originale à laquelle l'oeuvre est basée ou inspirée. Dans notre contexte, nous ne connaissons pas l'oeuvre en question, mais nous connaissons la personne qui a produite l'oeuvre. Voici comment on peut le représenter avec FRBRoo/CIDOC CRM.

  pre
    code.language-turtle.
      # L'oeuvre 110054 possède est dérivé d'une oeuvre inconnue
      cmtq:RecordingWork110054 frbroo:R2_is_derivative_of cmtq:Work110054d .

      # L'oeuvre originale a été initié par une activité de conception de l'oeuvre
      cmtq:Work110054d frbroo:R16i_was_initiated_by cmtq:WorkConception110054d .

      # Cette activité de concept a été réalisé par la personne identifiée 56277
      cmtq:WorkConception110054d crm:P14_carried_out_by cmtq:Person56277 .

  h3 Décrire la sortie publique d'une oeuvre

  p L'exemple suivant permet d'indiquer les dates de sortie d'une oeuvres. Une oeuvre peut avoir été publiée dans plusieurs endroits différents avec des dates de sorties différentes.

  pre
    code.language-turtle.
      cmtq:RecordingWork85461
        ...
        cmtqo:release_event cmtq:WorkPublicRelease85461 .
        ...

      cmtq:WorkPublicRelease85461
        rdf:type cmtqo:Work_Public_Release ;
        crm:P4_has_time-span cmtq:Time-Span2009-01-01T00:00:00Z ;
        crm:P7_took_place_at cmtq:Place216 .

      cmtq:Time-Span2009-01-01T00:00:00Z crm:P79_beginning_is_qualified_by "2009-01-01T00:00:00:000Z"^^xsd:datetime .

      cmtq:Place216
        rdf:type crm:E53_Place ;
        rdfs:label "Canada : Québec" ;
        owl:sameAs wd:Q1183 .

  h3 Décrire l'événement de production d'une oeuvre audiovisuelle

  p L'événement de production d'une oeuvre utilise le concept #[a frbroo:F29_Recording_Event]. Un événement de production d'une oeuvre #[em réalise] l'oeuvre en question et il est constitué de plusieurs activités de fonctions (réalisation, images, chef électricien, etc.). De plus, il se déroule à un endroit et à un moment précis. Voici un exemple:

  pre
    code.language-turtle.
      cmtq:RecordingEvent85461
          rdf:type frbroo:F29_Recording_Event ;
          frbroo:R22_created_a_realization_of cmtq:RecordingWork85461 ;
          crm:P7_took_place_at cmtq:Place216 ;
          crm:P4_has_time-span cmtq:Time-Span2008-01-01T00:00:00Z-2008-01-01T00:00:00Z ;
          crm:P9_consists_of cmtq:RecordingRoleActivity85461-24981-1 ;
          crm:P9_consists_of cmtq:RecordingRoleActivity775358 ;
          crm:P9_consists_of cmtq:RecordingRoleActivity775384 .

      cmtq:Time-Span2008-01-01T00:00:00Z-2008-01-01T00:00:00Z
        crm:P79_beginning_is_qualified_by "2008-01-01T00:00:000Z"^^xsd:datetime ;
        crm:P80_end_is_qualified_by "2008-01-01T00:00:000Z"^^xsd:datetime .

      cmtq:RecordingRoleActivity85461-24981-1
        rdf:type cmtqo:Recording_Role_Activity ;
        crm:P14_carried_out_by cmtq:Person24981 ;
        cmtqo:in_the_role_of cmtq:Role1 .

      cmtq:Role1
        rdf:type cmtqo:Role ;
        rdf:label "Réalisation" ;
        cmtqo:cmtq_id "1" .

      cmtq:RecordingRoleActivity775358
        rdf:type cmtqo:Recording_Role_Activity ;
        crm:P14_carried_out_by cmtq:Person56042 ;
        cmtqo:in_the_role_of cmtq:Role15 .

      cmtq:Role15
        rdf:type cmtqo:Role ;
        rdf:label "Interprétation" ;
        cmtqo:cmtq_id "15" .

      cmtq:RecordingRoleActivity775384
        rdf:type cmtqo:Recording_Role_Activity ;
        crm:P14_carried_out_by cmtq:LegalBody19310 ;
        cmtqo:in_the_role_of cmtq:Role34 .

      cmtq:Role34
        rdf:type cmtqo:Role ;
        rdf:label "Société de production" ;
        cmtqo:cmtq_id "34" .

  p Remarquez que la propriété #[a crm:P14_carried_out_by] peut avoir comme objet un #[a Agent] ou une de ces sous-classes. Dans notre exemple, nous avons deux sous-classes d'Agent: une personne ou une société. Pour décrire une personne, nous utilisons le vocabulaire #[a(href="http://xmlns.com/foaf/spec/") FOAF].

  pre
    code.language-turtle.
      cmtq:Person24981
        rdf:type crm:E21_Person ;
        rdfs:label "Émile Gaudreault" ;
        foaf:name "Émile Gaudreault" ;
        cmtq:cmtq_id "24981" ;
        foaf:givenName "Émile" ;
        foaf:familyName "Gaudreault" ;
        owl:sameAs wd:Q730064 .

      cmtq:Person56042
        rdf:type crm:E21_Person ;
        rdfs:label "Michel Côté" ;
        cmtq:cmtq_id "56042" ;
        foaf:name "Michel Côté" ;
        foaf:givenName "Michel" ;
        foaf:familyName "Côté" .

      cmtq:LegalBody19310
        rdf:type crm:E40_Legal_Body ;
        rdfs:label "PÈRE FILM (QUÉBEC)" .

