extends layout

include header

block content
  -
    const appareilDatasetDescription = appareilFilename => {
      if (appareilFilename.includes("schema.json")) {
        return "Le schéma des données avec JSON Schema"
      } else if (appareilFilename.endsWith(".json")) {
        return "Format JSON"
      } else if (appareilFilename.endsWith(".csv")) {
        return "Format CSV"
      }
    }

  +header('datasets')

  h1 Données ouvertes

  p Voici l'ensemble des données ouvertes de la Cinémathèque québécoise.

  h2 Œuvres cinématographiques et ses données dérivées

  p Les données sur les œuvres cinématographiques et ses données dérivées sont disponibles à travers un ensemble de fichiers CSV compressés. Ces fichiers sont extraits à partir d'une base de données relationnelle. Chaque fichier représente une table et les tables sont reliées entre elles avec des clés étrangères.

  if workDatasets === undefined || workDatasets.length === 0
    p Aucune version des données est actuellement disponible
  else
    .ui.list
      each dataset in workDatasets
        .item
          i.folder.icon
          .content
            header= dataset.date
            .list
              each file in dataset.files
                .item
                  i.file.icon
                  .content
                    .header <a href=#{file.url}>#{file.filename}</a>
                    .description
                      | Fichiers CSV compressés - #{' '}
                      = file.filesize

  h2 Appareils cinématographiques

  p Les données sur les appareils cinématographiques sont disponibles à travers les formats CSV et JSON. Pour avoir davantage de détails sur les types de données disponibles, consultez le fichier nommé <em>appareils_cinematographiques_schema.json</em>

  if appareilsDatasets === undefined || appareilsDatasets.length === 0
    p Aucune version des données est actuellement disponible
  else
    .ui.list
      each dataset in appareilsDatasets
        .item
          i.folder.icon
          .content
            header= dataset.date
            .list
              each file in dataset.files
                .item
                  i.file.icon
                  .content
                    .header <a href=#{file.url}>#{file.filename}</a>
                    if file.filesize === undefined
                      .description= appareilDatasetDescription(file.filename)
                    else
                      .description
                        = appareilDatasetDescription(file.filename)
                        |  - #{' '} #{file.filesize}

  p La liste des <a href="/images/appareils">images des appareils cinématographiques</a> est également rendu disponible.

  p À noter que ces données ne font pas partie des données ouvertes et liées de la Cinémathèque québécoise.
