extends layout

include header

block content
  +header('dataviz')

  h1 Réalisations
  p
    | Voici les projets qui ont été développés utilisant les
    |
    a(href="https://fr.wikipedia.org/wiki/Linked_open_data") données ouvertes (et liées)
    |  de la
    |
    a(href="https://cinematheque.qc.ca") Cinémathèque québécoise.

  h2
    a(href="/dataviz/polyscc") Projet SCC-Poly
  p
    | Ce projet de visualisation de données, mené par la
    |
    a(href="https://cinematheque.qc.ca") Cinémathèque québécoise
    |  en collaboration avec une équipe de
    |
    a(href="www.polymtl.ca") Polytechnique Montréal
    | , s’inscrit dans le cadre de
    |
    a(href="https://www.cinematheque.qc.ca/fr/programmation/projections/cycle/initiative-savoirs-communs-du-cinema") l'initiative Savoirs Communs du Cinéma
    | . Son objectif est de montrer la faisabilité de la publication en
    |
    a(href="https://fr.wikipedia.org/wiki/Linked_open_data") données ouvertes et liées
    |  des informations de la base de données de la
    |
    a(href="https://cinematheque.qc.ca") Cinémathèque
    | .

  p
    | Pour plus de détails, lisez
    |
    a(href="https://scc.hypotheses.org/1192") l'article du blog de l'initiative SCC.
