footer
  div.ui
    | Contenu du site web sous la licence
    |
    span
      a(href="https://creativecommons.org/licenses/by-sa/4.0/") CC-BY-SA
      |
      |
      a(href="https://cinematheque.qc.ca") Cinémathèque québécoise
  div.ui
    a(href="https://gitlab.com/cinematheque-quebecoise/cqdataweb") Code source
    |  du site web sous la licence #{' '}
    a(href="https://www.gnu.org/licenses/agpl-3.0.html") AGPLv3
