extends layout

include header

block content
  +header('graphol')

  h1 Graphol

  p <a href="https://www.obdasystems.com/graphol">Graphol</a> est une représentation visuelle (un graphe) pour concevoir une ontologie. Nous avons utilisé cette représentation pour concevoir le vocabulaire des données de la Cinémathèque québécoise. Pour construire cette représentation, nous avons utilisé l'outil <a href="https://www.obdasystems.com/eddy">Eddy</a>.

  if assets !== undefined
    p Voici les fichiers qui sont disponibles :
    ul
      each asset in assets
        li
          a(href=asset.url)= asset.name

    p Vous trouverez ci-bas la représentation visuelle de l'ontologie. Pour comprendre cette représentation, référez-vous au document suivant: <a href="http://www.obdasystems.com/sites/default/files/2017-03/syntax.pdf">http://www.obdasystems.com/sites/default/files/2017-03/syntax.pdf</a>

    -
      const ontologyImageAssets = assets.filter(a => a.url.endsWith('.jpg'))

    if ontologyImageAssets !== undefined
      each ontologyImageAsset in ontologyImageAssets
        div
          img(src=ontologyImageAsset.url, alt="Figure de l'ontologie", width="100%")
