mixin header(activeNav)
  nav
    ul.ui.secondary.pointing.menu
      li
        a.item(
          class=activeNav === 'home' ? 'active' : '',
          href="/")= t('nav.home')
      li.ui.dropdown.link.item
        span= t('nav.lod')
        i.dropdown.icon
        ul.menu
          li
            a.item(
              class=activeNav === 'lod-schema' ? 'active' : '',
              href="/doc/lod/schema")= t('nav.lod-schema')
          li
            a.item(
              class=activeNav === 'lod-datasets' ? 'active' : '',
              href="/doc/lod/datasets")= t('nav.lod-dump')

      li
        a.item(
          class=activeNav === 'datasets' ? 'active' : '',
          href="/doc/datasets")= t('nav.od')

      li.ui.simple.dropdown.link.item
        span= t('nav.realisations')
        i.dropdown.icon
        ul.menu
          li
            a.item(
              class=activeNav === 'sparql' ? 'active' : '',
              href="/doc/sparql")= t('nav.lod-sparql')
          li
            a.item(
              class=activeNav === 'dataviz' ? 'active' : '',
              href="/doc/dataviz/")= t('nav.dataviz')
      li
        a.item(
          class=activeNav === 'licence' ? 'active' : '',
          href="/doc/licence")= t('nav.licence')

      // li.ui.simple.dropdown.item
      //   | FR
      //   i.dropdown.icon
      //   ul.menu
      //     li
      //       a.item(
      //         class=lang === 'fr' ? 'active' : '',
      //         href="?lang=fr") FR
      //     li
      //       a.item(
      //         class=lang === 'en' ? 'active' : '',
      //         href="?lang=en") EN
