extends layout

include header

block content
  +header('home')

  h1= t('home.welcome')

  article

    p L’objectif de ce site Web est de donner accès aux données ouvertes de la Cinémathèque québécoise et aux outils qui ont été développés pour interroger ou exploiter ces dernières. Ces réalisations sont de nature expérimentale mais sont laissées accessibles afin de documenter les recherches et tests réalisés durant l’initiative Savoirs Communs du Cinéma, menée de 2018 à 2021 à la Cinémathèque québécoise.

    h2 Données ouvertes et liées

    p Cette section offre la possibilité d'utiliser nos données à l'aide des technologies du Web Sémantique (RDF, SPARQL, OWL). Ces données se concentrent sur la description d’œuvres cinématographiques et peuvent être entièrement téléchargées sous plusieurs types de formats RDF ou en CSV.

    p L’ontologie qui a été créée afin de décrire les données est détaillée dans le Wiki correspondant. Y sont explicitées les classes et propriétés utilisées, afin de permettre la bonne compréhension des données proposées sur ce site.

    h2 Données ouvertes

    p Cette section donne accès à d’autres jeux de données ouvertes de la Cinémathèque québécoise, qui n’utilisent pas les technologies du Web sémantique. Ces données peuvent être téléchargées dans les formats CSV ou JSON.

    h2 Réalisations

    p Cette section présente des outils qui ont été développés afin de montrer des exemples d’exploitation de données ouvertes et liées de la Cinémathèque québécoise. On y trouve un outil de visualisation ainsi qu’un instrument de recherche permettant d’interroger ces données à l'aide du langage de requêtes SPARQL.

    h2 Licence

    p
      | L'ensemble des données publiées sur ce site sont sous la licence
      |
      a(href="https://creativecommons.org/licenses/by-sa/4.0/") CC-BY-SA
      | .
