doctype html
html
  head
    title= title
    meta(charset="utf-8")

    link(rel='stylesheet', href='/stylesheets/semantic.min.css')
    // https://unpkg.com/@triply/yasgui/build/yasgui.min.css
    // link(rel='stylesheet', href='/stylesheets/yasgui.min.css')
    link(href="https://unpkg.com/@triply/yasgui/build/yasgui.min.css", rel="stylesheet", type="text/css", crossorigin="anonymous")
    // https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/themes/prism.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/prism.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    include footer

    // https://code.jquery.com/jquery-3.1.1.min.js",
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/semantic.min.js")
    // https://unpkg.com/@triply/yasgui/build/yasgui.min.js
    script(src="/javascripts/yasgui.min.js", crossorigin="anonymous")
    script.
      $('.ui.dropdown').dropdown()
    // https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/components/prism-core.min.js
    script(src="/javascripts/prism-core.min.js")
    // https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/plugins/autoloader/prism-autoloader.min.js
    script(src="/javascripts/prism-autoloader.min.js")

    block javascript
