extends layout

include header

block content
  +header('licence')

  h1= t('nav.licence')
  p !{t('licence.text')}

  p !{t('licence.attribution')}

  div
    img( src="/images/cc-by-sa.png"
       , alt="CC-BY-SA logo"
       , width="125px"
       , height="45px"
       )
