extends layout

include header

block content
  -
    const extExpand = {
      '.ttl': 'Turtle',
      '.n3': 'Notation3',
      '.nt': 'N-triples',
      '.xml': 'RDF/XML',
      '.json': 'JSON-LD',
      '.hdt': 'HDT',
      '.tar': 'Original CSV',
    }

  +header('lod-datasets')

  h1 Jeux de données

  article
    p Les données ouvertes et liées RDF de la Cinémathèque québécoise utilisant les ontologies FRBRoo et CIDOC CRM.

    p Les données sont disponibles sous plusieurs formats RDF (Turtle, N-Triples et HDT).

    p Le fichier <em>void.ttl</em> contient des informations sur les jeux de données selon l'ontologie VoID. On retrouve notamment:

    ul
      li le nombre total de triplets
      li le nombre total de classes
      li la date de création et de diffusion des données
      li la licence
      li l'auteur des données
      li etc.

    h2 Toutes les versions

    if datasets === undefined || datasets.length === 0
      p Aucune version des données est disponible
    else
      .ui.list
        each dataset in datasets
          .item
            i.folder.icon
            .content
              header= dataset.date
              .list
                each file in dataset.files
                  .item
                    i.file.icon
                    .content
                      .header <a href=#{file.url}>#{file.filename}</a>
                      .description
                        if file.filename === "void.ttl"
                          | VoID dataset description
                        else if extExpand[file.ext] !== undefined
                          = extExpand[file.ext]
                          |  format
                        if file.filesize
                          |  - #{' '}
                          = file.filesize
