extends layout

include header

block content
  +header()

  h1
    | About:
    |
    a(href=resourceUri)= resourceLabel

  table.ui.striped.table
    thead
      tr
        th Property
        th Value
    tbody
      each triple in triplesWithSubjectAsEntity
        tr
          td
            - let prefixedUri = replaceUriWithPrefix(triple.predicateNode.value)
            a(href=triple.predicateNode.value)= prefixedUri === undefined ? triple.predicateNode.value : prefixedUri
          td
            if triple.objectNode.type === "uri"
              - let prefixedUri = replaceUriWithPrefix(triple.objectNode.value)
              // a(href=triple.objectNode.value)= replaceUriWithPrefix(triple.objectNode.value)
              a(href=triple.objectNode.value)= prefixedUri === undefined ? triple.objectNode.value : prefixedUri
            else
              = triple.objectNode.value

  if triplesWithObjectAsEntity.length > 0
    table.ui.striped.table
      thead
        tr
          th Inverse Property
          th Value
      tbody
        each triple in triplesWithObjectAsEntity
          tr
            td
              - let prefixedUri = replaceUriWithPrefix(triple.predicateNode.value)
              | is #{''}
              a(href=triple.predicateNode.value)= prefixedUri === undefined ? triple.predicateNode.value : prefixedUri
              |
              | of #{''}
            td
              if triple.subjectNode.type === "uri"
                - let prefixedUri = replaceUriWithPrefix(triple.subjectNode.value)
                a(href=triple.subjectNode.value)= prefixedUri === undefined ? triple.subjectNode.value : prefixedUri
              else
                = triple.subjectNode.value

    div.ui.pagination.menu
      if pagination.currentPage <= 10
        a.item(class="disabled") <<
      else
        a.item(href="?page=" + (pagination.currentPage - 10)) <<

      if pagination.currentPage <= 1
        a.item(class="disabled") <
      else
        a.item(href="?page=" + (pagination.currentPage - 1)) <

      - let minPageNumber = Math.floor((pagination.currentPage - 1) / 10) * 10 + 1
      - let maxPageNumber = minPageNumber + 10 < pagination.maxPageNumber ? 10 : pagination.maxPageNumber % 10
      each page in [...Array(maxPageNumber).keys()].map(v => v + minPageNumber)
        if page === pagination.currentPage
          a.item(class="active")= page
        else
          a.item(href="?page=" + page)= page

      if pagination.currentPage === pagination.maxPageNumber
        a.item(class="disabled") >
      else
        a.item(href="?page=" + (pagination.currentPage + 1)) >

      if pagination.currentPage + 10 >= pagination.maxPageNumber
        a.item(class="disabled") >>
      else
        a.item(href="?page=" + (pagination.currentPage + 10)) >>

  if Object.entries(prefixMappings).length > 0
    h2 Namespaces

    table.ui.striped.table
      thead
        tr
          th Prefix
          th Value
      tbody
        each entry in Object.entries(prefixMappings)
          tr
            td= entry[0]
            td= entry[1]

  h2 RDF format(s)

  ul.rdf-formats
    li
      a(href=`${resourceDataBaseUri}.ttl`) turtle
    li
      a(href=`${resourceDataBaseUri}.nt`) n-triples
    li
      a(href=`${resourceDataBaseUri}.rdf`) rdf-xml
