extends layout

include header

block content
  +header('sparql')

  h1 SPARQL
  p Vous pouvez effectuer des requêtes SPARQL sur les données ouvertes et liées de la Cinémathèque québécoise. L'objectif des requêtes SPARQL est de pouvoir intéragir directement avec les données publiées. Pour plus d'informations sur nos données ouvertes et liées, voir <a href="/doc/lod/schema">cette page</a>.

  p Si vous faites des requêtes SPARQL à travers un programme/API, utilisez l'URL suivante : <a href="/sparql">https://data.cinematheque.qc.ca/sparql</a>

  .sparql-query-selection
    p Choisissez un exemple de requête:

    .ui.selection.dropdown
      input(type='hidden', name='query')
      i.dropdown.icon
      .default.text Choisissez un exemple de requête
      .menu
        each query, i in exampleQueries
          .item(data-value=i)= query.name
        // .item(data-value='1') Réalisateurs de films où Michel Côté a joué.
        // .item(data-value='2') Tous les films qui sont inspirés d'une autre oeuvre
        // .item(data-value='3') Tous les films avec une date de sortie entre 2010 et 2020.
        // .item(data-value='4') Les personnes qui ont travaillé dans au moins 10 films
        // .item(data-value='5') Évolution de la carrière de Woody Allen.
        // .item(data-value='6') Les films de la Cinémathèque québécoise liés aux films de Wikidata.
        // .item(data-value='7') Roles possibles dans le cinéma.
        // .item(data-value='8') Sujets de films possibles catalogués par la Cinémathèque québécoise.

  .sparql-query-text-container
    #sparql-query-textarea(placeholder="Write a SPARQL query or select one from the list")

block javascript
  script.
    baseUri = "#{baseUri}"
    resourceBaseUri = "#{resourceBaseUri}"
    exampleQueries = !{JSON.stringify(exampleQueries)}
    // exampleQueries = #{exampleQueries}
  script(src="/javascripts/sparql.js")
