extends layout

include header

block content
  +header('spec')

  h1 Specification

  article.spec-container
    // include:markdown-it(html=true, plugins=['markdown-it-anchor', 'markdown-it-sup']) cmtq.md
    // include:my-markdown-it cmtqo.md
    | !{md.render(content)}
